* {
    -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
      -ms-box-sizing: border-box !important;
      box-sizing: border-box !important;
}
html, body {
    background-color: #3ec0d6;  
    margin: 0;
    padding: 0;
    width: 100%;
}

.conteudo {
    width: 100%; /* usar largura total */
    max-width: 1000px; /* limitar largura total em 1000px */
    margin: 0 auto; /* centralizar conteudo com margem 0 vertical e automatica horizontal */
    padding: 10px;
}

.logo {    
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogo {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: auto;
}

.galeria {
    position: relative; /* permite o posicionamento absoluto das imagens dentro dele*/
    width: 100%; /*  A largura é definida como 100%, para que a galeria ocupe toda a largura do contêiner pai */
    height: 80vh; /* A altura é definida como 400px como exemplo, mas você pode ajustá-la de acordo com suas preferências. */ 
    overflow: hidden; /*  é usada para garantir que o conteúdo excedente não seja exibido além da área definida. */
}

.galeria img {
    position: absolute; /* para sobrepor uma img à outra */ 
    margin: 0;
    width: 100%; /* são definidos como 100% para preencher todo o espaço disponível no contêiner. */ 
    height: 100%; /*são definidos como 100% para preencher todo o espaço disponível no contêiner. */
    object-fit: cover; /*garante que a imagem seja redimensionada de forma proporcional para preencher completamente o espaço, mantendo a proporção da imagem. */
    object-position: top center; /* priorizar parte de cima da imagem e centralizar horizontalmente */
    transition: opacity 1s ease-in-out; /* é adicionada para criar uma transição suave de opacidade. */
}

.galeria img:not(:first-child){
    opacity: 0; /*define a opacidade das imagens que não são a primeira para 0, ou seja, elas estarão invisíveis inicialmente. */
}

.navegacao {    
    display: flex;
    margin: 5px;
    justify-content: center;    
}

.botaolink {
    text-decoration: none; /* remove o underline */
    border: 1px solid black;
    justify-content: center; /* centraliza o botão dentro do container*/
    padding: 10px; /* espaçamento do botão dentro da container*/
    width: 140px; /* largura do botão */
    text-align: center; /* centraliza o conteúdo dentro do botão*/
    font-family: Verdana, Geneva, Tahoma, sans-serif; /*fonte da letra*/
    font-size:16px ; /*tamanho da fonte*/
    background-color: #4FC3F7; /*cor de fundo do botão*/
    color: white; /*cor da letra dentro do botão*/
    border-radius: 10px; /*dá uma arredondada no botão*/
    box-shadow: 5px 5px 5px black; /*dá uma sombra no botão*/
    
}

.botaolink:hover {
    box-shadow: 5px 5px 5px 5px #0D47A1; /*dá uma sombra no botão*/
}


@media( max-width: 768px ) {
    .conteudo {
        max-width: 100%;
    }
    .galeria {
        height: 300px;
    }
}

