.galeria {
    position: relative; /* permite o posicionamento absoluto das imagens dentro dele*/
    width: 100%; /*  A largura é definida como 100%, para que a galeria ocupe toda a largura do contêiner pai */
    height: 500px; /* A altura é definida como 400px como exemplo, mas você pode ajustá-la de acordo com suas preferências. */ 
    overflow: hidden; /*  é usada para garantir que o conteúdo excedente não seja exibido além da área definida. */
}

.galeria img {
    position: absolute; /* para sobrepor uma img à outra */ 
    width: 100%; /* são definidos como 100% para preencher todo o espaço disponível no contêiner. */ 
    height: 100%; /*são definidos como 100% para preencher todo o espaço disponível no contêiner. */
    object-fit: contain; /*garante que a imagem seja redimensionada de forma proporcional para preencher completamente o espaço, mantendo a proporção da imagem. */
    transition: opacity 1s ease-in-out; /* é adicionada para criar uma transição suave de opacidade. */
}

.galeria img:not(:first-child){
    opacity: 0; /*define a opacidade das imagens que não são a primeira para 0, ou seja, elas estarão invisíveis inicialmente. */
}

.logoindex {
    margin: 5px 0 0 500px;
    padding: 5px;
}

.imagemindex {
    width: 400px;
    height: 50px;
}