body {
    background-color: #3ec0d6;
    margin: 10px 0 0 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.logoindex {
    margin: 5px 0 0 318px;
    padding: 5px;
}

.redes {
    margin: 0 0 0 300px;
}

.imagemindex {
    width: 300px;
    height: 20px;
}
.tituloredes {
    font-size: 20px;
}

.whatsapp {
    height: 25px;
    width: 25px;
}

.facebook {
    height: 25px;
    width: 25px;
}

.instagram {
    height: 25px;
    width: 25px;
}



.galeria {
    margin: 5px 0 0 230px;
    width: 1000px;
    height: 600px;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    border: 3px solid;
}

.foto {
    margin: 10px;
    width: 1000px auto;
    height: 300px auto;
    position: absolute;
    opacity: 0;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }

    50% {
        opacity: 0;

    }
}

.foto:nth-child(1) {
    animation-delay: 0s;
}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
    animation-delay: 10s;
}

.foto:nth-child(4) {
    animation-delay: 15s;
}

.foto:nth-child(5) {
    animation-delay: 20s;
}

.foto:nth-child(6) {
    animation-delay: 25s;
}

.botaoLink {
    margin: 5px 0 0 620px;
}

.botaoPersonagem {
    margin: 5px;
    background-color: #f3ea25;
    color: black;
    height: 40px;
    width: 110px;
    border-radius: 30px;
    font-weight: bold;
}

.botaoQuemSomos {
    margin: 5px;
    background-color: #f3ea25;
    color: black;
    height: 40px;
    width: 110px;
    border-radius: 30px;
    font-weight: bold;
}