body {
    margin: 5px;
    background-color: #3ec0d6;
    background-image: url("logo/logokidversao.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.logoindex {
    margin: 5px 0 0 318px;
    padding: 5px;
}

.redes {
    margin: 0 0 0 300px;
}

.imagemindex {
    width: 300px;
    height: 20px;
}
.tituloredes {
    font-size: 20px;
}


.whatsapp {
    height: 25px;
    width: 25px;   
    }
    .facebook {
        height: 25px;
        width: 25px;
    }
    .instagram{
        height: 25px;
        width: 25px;
    }



.container {
    border: 0;
    margin: 0 200px ;
    display: flex;   
    height: 900px;
    flex-wrap: wrap;
    justify-content: space-around;

   }

.fotos {
   
   margin: 10px;   
   }

img{
  width: 200px;
  height: 300px;
}

p {
    text-align: center;
}

